CLANG_WARN_NON_LITERAL_NULL_CONVERSION=[config=Debug] = YES
FRAMEWORK_SEARCH_PATHS=[config=Frank] = $(PROJECT_DIR)
CLANG_WARN_COMMA=[config=Debug] = YES
CLANG_WARN_EMPTY_BODY=[config=Frank] = YES
CLANG_WARN_COMMA=[config=Alpha] = YES
VALIDATE_PRODUCT=[config=Alpha] = YES
CODE_SIGN_IDENTITY=[config=AppStore] = $(CODE_SIGN_IDENTITY)
TARGETED_DEVICE_FAMILY=[config=Alpha] = 1,2
CLANG_WARN_NON_LITERAL_NULL_CONVERSION=[config=Frank] = YES
GCC_WARN_ABOUT_RETURN_TYPE=[config=Frank] = YES_ERROR
CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION=[config=Debug] = YES
CLANG_WARN_STRICT_PROTOTYPES=[config=Frank] = NO
GCC_WARN_64_TO_32_BIT_CONVERSION=[config=Frank] = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH=[config=Alpha] = YES
CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION=[config=AppStore] = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE=[config=Frank] = YES_ERROR
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING=[config=Frank] = YES
GCC_WARN_UNUSED_FUNCTION=[config=Frank] = YES
ONLY_ACTIVE_ARCH=[config=Debug] = YES
GCC_WARN_PEDANTIC=[config=AppStore] = NO
CLANG_WARN_EMPTY_BODY=[config=AppStore] = YES
ENABLE_BITCODE=[config=AppStore] = NO
ENABLE_STRICT_OBJC_MSGSEND=[config=Frank] = YES
GCC_WARN_UNDECLARED_SELECTOR=[config=Debug] = YES
GCC_WARN_UNINITIALIZED_AUTOS=[config=Debug] = YES_AGGRESSIVE
OTHER_LDFLAGS=[config=Alpha] = ""
CLANG_WARN_OBJC_LITERAL_CONVERSION=[config=Alpha] = YES
CLANG_ENABLE_MODULES=[config=AppStore] = YES
CLANG_ENABLE_MODULES=[config=Frank] = YES
GCC_NO_COMMON_BLOCKS=[config=Frank] = YES
ALWAYS_SEARCH_USER_PATHS=[config=AppStore] = NO
CLANG_WARN_EMPTY_BODY=[config=Debug] = YES
CODE_SIGN_IDENTITY=[config=Alpha] = $(CODE_SIGN_IDENTITY)
CLANG_WARN_COMMA=[config=Frank] = YES
GCC_WARN_64_TO_32_BIT_CONVERSION=[config=Debug] = YES
SWIFT_OPTIMIZATION_LEVEL=[config=Debug] = -Onone
CLANG_CXX_LANGUAGE_STANDARD=[config=AppStore] = gnu++0x
ENABLE_BITCODE=[config=Debug] = NO
CLANG_WARN_INFINITE_RECURSION=[config=AppStore] = YES
SDKROOT=[config=Debug] = iphoneos
ONLY_ACTIVE_ARCH=[config=Frank] = YES
GCC_WARN_UNDECLARED_SELECTOR=[config=Alpha] = YES
COPY_PHASE_STRIP=[config=Alpha] = YES
CLANG_WARN_INT_CONVERSION=[config=Debug] = YES
CLANG_WARN_SUSPICIOUS_MOVE=[config=AppStore] = YES
SDKROOT=[config=AppStore] = iphoneos
CLANG_WARN_CONSTANT_CONVERSION=[config=Debug] = YES
GCC_WARN_UNDECLARED_SELECTOR=[config=Frank] = YES
TARGETED_DEVICE_FAMILY=[config=AppStore] = 1,2
ALWAYS_SEARCH_USER_PATHS=[config=Frank] = NO
CLANG_WARN_RANGE_LOOP_ANALYSIS=[config=Frank] = YES
CLANG_ENABLE_MODULES=[config=Debug] = YES
CLANG_WARN_INFINITE_RECURSION=[config=Alpha] = YES
CLANG_WARN_ENUM_CONVERSION=[config=Frank] = YES
CLANG_WARN_UNREACHABLE_CODE=[config=Frank] = YES
CLANG_WARN_OBJC_ROOT_CLASS=[config=Alpha] = YES_ERROR
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING=[config=Debug] = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION=[config=AppStore] = YES
CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION=[config=Alpha] = YES
GCC_NO_COMMON_BLOCKS=[config=AppStore] = YES
CLANG_WARN_STRICT_PROTOTYPES=[config=Alpha] = NO
CLANG_WARN_EMPTY_BODY=[config=Alpha] = YES
CLANG_WARN_BOOL_CONVERSION=[config=Frank] = YES
ALWAYS_SEARCH_USER_PATHS=[config=Debug] = NO
CLANG_WARN_ENUM_CONVERSION=[config=Debug] = YES
GCC_WARN_64_TO_32_BIT_CONVERSION=[config=Alpha] = YES
CODE_SIGN_IDENTITY=[config=Debug] = $(CODE_SIGN_IDENTITY)
CLANG_WARN_NON_LITERAL_NULL_CONVERSION=[config=Alpha] = YES
ENABLE_STRICT_OBJC_MSGSEND=[config=Debug] = YES
GCC_WARN_UNINITIALIZED_AUTOS=[config=Frank] = YES_AGGRESSIVE
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING=[config=Alpha] = YES
CLANG_WARN_CONSTANT_CONVERSION=[config=Alpha] = YES
CLANG_WARN_SUSPICIOUS_MOVE=[config=Frank] = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE=[config=Alpha] = YES_ERROR
COPY_PHASE_STRIP=[config=Frank] = NO
CLANG_WARN_UNREACHABLE_CODE=[config=Alpha] = YES
DEBUG_INFORMATION_FORMAT=[config=Debug] = dwarf
OTHER_LDFLAGS=[config=Debug] = ""
TARGETED_DEVICE_FAMILY=[config=Frank] = 1,2
GCC_WARN_UNUSED_FUNCTION=[config=Debug] = YES
CLANG_WARN_STRICT_PROTOTYPES=[config=AppStore] = NO
GCC_NO_COMMON_BLOCKS=[config=Debug] = YES
CLANG_WARN_STRICT_PROTOTYPES=[config=Debug] = NO
SDKROOT=[config=Alpha] = iphoneos
COPY_PHASE_STRIP=[config=AppStore] = YES
GCC_WARN_UNUSED_VARIABLE=[config=Frank] = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH=[config=Frank] = YES
ENABLE_TESTABILITY=[config=Debug] = YES
ENABLE_BITCODE=[config=Alpha] = NO
CLANG_WARN_BOOL_CONVERSION=[config=Alpha] = YES
GCC_PREPROCESSOR_DEFINITIONS=[config=Debug] = 
CLANG_WARN_OBJC_ROOT_CLASS=[config=Frank] = YES_ERROR
SDKROOT=[config=Frank] = iphoneos
GCC_WARN_UNINITIALIZED_AUTOS=[config=AppStore] = YES
CLANG_WARN_INFINITE_RECURSION=[config=Frank] = YES
CLANG_ENABLE_MODULES=[config=Alpha] = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH=[config=AppStore] = YES
CLANG_WARN_BOOL_CONVERSION=[config=Debug] = YES
ENABLE_STRICT_OBJC_MSGSEND=[config=Alpha] = YES
OTHER_LDFLAGS=[config=AppStore] = ""
CLANG_WARN_RANGE_LOOP_ANALYSIS=[config=Alpha] = YES
CLANG_WARN_INT_CONVERSION=[config=Frank] = YES
CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION=[config=Frank] = YES
CLANG_WARN_UNREACHABLE_CODE=[config=Debug] = YES
CLANG_WARN_SUSPICIOUS_MOVE=[config=Alpha] = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING=[config=AppStore] = YES
GCC_WARN_UNINITIALIZED_AUTOS=[config=Alpha] = YES_AGGRESSIVE
CLANG_WARN_INT_CONVERSION=[config=Alpha] = YES
GCC_C_LANGUAGE_STANDARD=[config=AppStore] = gnu99
VALIDATE_PRODUCT=[config=AppStore] = YES
GCC_OPTIMIZATION_LEVEL=[config=Debug] = 0
GCC_WARN_UNUSED_VARIABLE=[config=AppStore] = YES
FRAMEWORK_SEARCH_PATHS=[config=Debug] = $(PROJECT_DIR)
CLANG_WARN_RANGE_LOOP_ANALYSIS=[config=AppStore] = YES
CLANG_WARN_ENUM_CONVERSION=[config=Alpha] = YES
GCC_GENERATE_TEST_COVERAGE_FILES=[config=AppStore] = NO
GCC_WARN_UNUSED_VARIABLE=[config=Debug] = YES
CLANG_WARN_OBJC_ROOT_CLASS=[config=Debug] = YES_ERROR
CLANG_WARN_COMMA=[config=AppStore] = YES
ALWAYS_SEARCH_USER_PATHS=[config=Alpha] = NO
CLANG_ENABLE_OBJC_ARC=[config=Alpha] = YES
GCC_WARN_UNUSED_VARIABLE=[config=Alpha] = YES
VALIDATE_PRODUCT=[config=Frank] = YES
GCC_NO_COMMON_BLOCKS=[config=Alpha] = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION=[config=Frank] = YES
OTHER_LDFLAGS=[config=Frank] = ""
CLANG_ENABLE_OBJC_ARC=[config=Debug] = YES
ENABLE_BITCODE=[config=Frank] = NO
GCC_WARN_ABOUT_RETURN_TYPE=[config=AppStore] = YES
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=[config=AppStore] = NO
CLANG_WARN_SUSPICIOUS_MOVE=[config=Debug] = YES
CLANG_CXX_LIBRARY=[config=AppStore] = libc++
CLANG_WARN_DIRECT_OBJC_ISA_USAGE=[config=Debug] = YES_ERROR
TARGETED_DEVICE_FAMILY=[config=Debug] = 1,2
GCC_WARN_ABOUT_RETURN_TYPE=[config=Alpha] = YES_ERROR
CLANG_WARN_INFINITE_RECURSION=[config=Debug] = YES
CLANG_WARN_CONSTANT_CONVERSION=[config=Frank] = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS=[config=Debug] = YES
FRAMEWORK_SEARCH_PATHS=[config=AppStore] = $(PROJECT_DIR)
CLANG_ENABLE_OBJC_ARC=[config=AppStore] = YES
CODE_SIGN_IDENTITY=[config=Frank] = $(CODE_SIGN_IDENTITY)
CLANG_WARN__DUPLICATE_METHOD_MATCH=[config=Debug] = YES
GCC_WARN_ABOUT_RETURN_TYPE=[config=Debug] = YES_ERROR
CLANG_WARN_OBJC_LITERAL_CONVERSION=[config=Debug] = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION=[config=AppStore] = YES
COPY_PHASE_STRIP=[config=Debug] = NO
CLANG_ENABLE_OBJC_ARC=[config=Frank] = YES
FRAMEWORK_SEARCH_PATHS=[config=Alpha] = $(PROJECT_DIR)
GCC_WARN_UNUSED_FUNCTION=[config=Alpha] = YES
